body {
  background-color: #ffe8c9;
}
h1 {
  text-align: center;
  color: #0e263d;
  text-transform: capitalize;
  text-decoration: overline underline #fc7632;
  margin-top: 20px;
  margin-bottom: 20px;
  text-underline-offset: 20px;
}
h2 {
  margin-left: 20px;
  color: #0e263d;
}
input {
  margin-left: 20px;
  height: 30px;
  border: 2px solid black;
}

input:focus{
  outline-color: orange;
}

button {
  background-color: #fc5805;
  margin-left: 20px;
  height: 35px;
  border-radius: 10px;
  border: 3px;
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:hover {
  transform: scale(1.1);
}
p {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
  animation: p-animate 1500ms 1;
}

div {
  border: 2px solid black;
  height: 90vh;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  background-color: #ffeed9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
  color: white;
  font-weight: bold;
}

@keyframes p-animate {
  from {
    opacity: 0;
    translate: -100px;
  }
  to {
    opacity: 1;
    translate: 0px;
  }
}
